<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Git Branch Onlinifier</title>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Bootstrap -->
    <!-- CSS (theme) -->
    <link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



    <style>
        .messages {
            position: fixed;
            text-align: center;
            width: 50%;
            margin-left: 20px;
            margin-top: 20px;
            left: 25%;

            opacity: 0.9;
        }

        .messages:hover {
            opacity: 1;
        }

        .no-remove-pointer-events {
            pointer-events: initial !important;
        }
    </style>

</head>
<body>
    <div class="container messages">
        {{#each messages}}
        <div class="alert alert-{{level}} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{text}}
        </div>
        {{/each}}
    </div>

    <div class="container">
    {{{body}}}
    </div>
</body>
</html>