Servers online: {{getServersOnlineCount}} (<a href="/killAll">kill them all!</a>)

<br>
<h2>Spawn a branch</h2>

<form action="/spawn" method="get" id="spawnForm">
	<input type="text" placeholder="Repository name" name="repo">
	<input type="text" placeholder="Branch name" name="branch">
	<button type="submit">Spawn!</button>
</form>