<h1 class="text-center">Git Branch Onlinifier™</h1>

<hr>

<h2 id="tester">Spawn a branch</h2>
<small>Enter an initialized repository's name and branch you want up and press "Spawn!"</small>

<br>
<br>

<form action="/spawn" method="get" id="spawnForm" class="form-inline">
    <div class="form-group">
        <input type="text" placeholder="Repository name" name="repo" class="form-control">
        <input type="text" placeholder="Branch name" name="branch" class="form-control">
        <button type="submit" class="btn btn-default">Spawn!</button>
    </div>
</form>

<hr>

<h2>Servers online ({{getServersOnlineCount}})</h2>
<a href="/killAll">Kill all servers</a>

<br>
<br>


<div id="server-list"></div>
<small id="refresh-counter"></small>



<script>
    var refreshEvery = 10;

    var serverListRefreshCounter = 0;
    setInterval(function() {
        if(serverListRefreshCounter == 0) {
            $('#refresh-counter').html( 'Refreshing...' );

            serverListRefreshCounter = -1; // Paused

            $.get('/list', function(data) {
                $('#server-list').html( data );
                serverListRefreshCounter = refreshEvery;
            });
        } else {
            if(serverListRefreshCounter > 0) {
                $('#refresh-counter').html( 'Refreshing in ' + serverListRefreshCounter + 's...' );
                serverListRefreshCounter--;
            }
        }

        
    }, 1000);
</script>